:root {
    --primary-color: #6a0dad; 
    --accent-color: #ffcc00; 
    --text-dark: #333333;
    --bg-light: #f4f4f9;      
    --card-bg: #ffffff;
}

* {
    font-family: "Playpen Sans Hebrew", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 15px;
    align-items: center;
    background-color: var(--card-bg);
    border-bottom: 2px solid var(--accent-color);
    column-gap: 12px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* HAMBURGER NAVIGATION */
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: var(--primary-color);
    
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 1rem;
    color: var(--accent-color);
    text-decoration: none;
    text-align: center;
}

.navigation li.current a {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.navigation a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
    border: 1px solid var(--primary-color);
}

/* SECTIONS & CARDS */
main {
    padding: 15px;
}

h1, h2 {
    color: var(--primary-color);
    text-decoration: underline;
    text-align: center;
}

section {
    background-color: var(--card-bg);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-left: 6px solid var(--primary-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
    
}

/* SECTION COURSES */
.courses-code {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.btn-filter {
    padding: 12px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-filter:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.course-item { 
    display: block;
    background-color: var(--text-dark);
    color: var(--card-bg);
    text-align: center;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.course-item-highlight {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* Modal Dialog */
dialog {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--accent-color);
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
}

dialog h3, 
dialog p {
    color: var(--primary-color);
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

#closeModal {
    float: right;
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

/* Credits */
.credits {
    padding: 20px;
    color: var(--primary-color);
    text-align: center;
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    text-align: center;
    margin-top: 30px;
}

/* Social */
.social {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-top: 15px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--bg-light);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

.social img {
    width: 20px;
    height: 20px;
}

.social a:hover {
    background-color: var(--accent-color);
}